/*//////////////////////////////////////////////////////////////////
[ Apparence Générale ]*/
html
{
  scroll-behavior: smooth;
  width: 100%;
}

body
{
	background: url('../images/fond.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
}

footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: white;
	text-align: center;
}

/*//////////////////////////////////////////////////////////////////
[ Logo et Titre]*/
.text-center img
{
	width: 10% !important;
	margin-bottom: 1%;
}

.text-center h1
{
	color: white;
}

/*//////////////////////////////////////////////////////////////////
[ Se connecter - Inscription ]*/
.connexion, .inscription
{
	display: block;
	text-align: center;
}

/*//////////////////////////////////////////////////////////////////
[ Footer ]*/
footer img
{
	width: 15%;
	padding-bottom: 15px;
}
