/*//////////////////////////////////////////////////////////////////
[ Apparence Générale ]*/
html
{
  scroll-behavior: smooth;
  width: 100%;
}

body
{
	background: url('../images/fond.jpg') no-repeat center center fixed;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	background-size: cover;
  	-o-background-size: cover;
}

footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

/*//////////////////////////////////////////////////////////////////
[ hover ]*/
.hov:hover
{
  opacity: 0.5;
}

.hov-soft:hover
{
  opacity: 0.88;
}

/*//////////////////////////////////////////////////////////////////
[ Logo et Titre du site]*/
.logo-nom-site h1
{
	color: white;
}

.logo-nom-site
{
	text-align: center;
}

.logo-nom-site img
{
	width: 8%;
}

/*//////////////////////////////////////////////////////////////////
[ Boutons / Se connecter - Inscription ]*/
.connexion, .inscription
{
	display: block;
	text-align: center;
}

.inscription img
{
	width: 24%;
}

.connexion img
{
	width: 24%;
}


/*//////////////////////////////////////////////////////////////////
[ Footer ]*/
footer img
{
	width: 15%;
	padding-bottom: 10px;
}



/*//////////////////////////////////////////////////////////////////
[ page confirmation ]*/

.button-center
{
	margin-top: 5%;
	text-align: center;
}

.confirmation-text
{
	margin-top: 7%;
	color: white;
}

.logo-confirmation
{
	width: 10%;
}
